.form {
    display: flex;
    flex-direction: column;
    
  }

  label {
    display: flex;
    flex-direction: column;
    font-family: "Zen Loop";
    font-size: 34px;
    margin: 20px 0px;
  }

  .error {
    font-size: 1rem;
    color: red;
  }

  input, textarea {
    border-radius: 40px;
    border: 1px solid #fff;
    background: #33626c;
    padding: 8px 10px;
    text-align: center;
    color: white;
    font-family: "Nanum Gothic";
    font-size: 16px;
  }

  textarea {
    height: 200px;
  }