form {
    display: flex;
    flex-direction: column;
    
  }

  label {
    display: flex;
    flex-direction: column;
    font-family: "Zen Loop";
    font-size: 28px;
  }

  input, textarea {
    margin: 0px 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    border: 1px solid #fff;
    background: #33626c;
    padding: 8px 10px;
    text-align: center;
    color: white;
    font-family: "Nanum Gothic";
    font-size: 16px;
  }

  textarea {
    height: 200px;
  }