.infoSection {
  background-color: #33626c;
  padding: 100px 10px;
  border-radius: 20px 0;
  position: relative;
  top: -20px;

  h2 {
    margin: 20px 0;
    font-size: 64px;
  }

  p {
    margin: 30px 0;
  }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  button {
    margin-top: 50px
  }

  span {
    font-size: 38px;
    font-family: "Zen Loop"
  }

  form {
    display: flex;
    flex-direction: column;
    
  }

  label {
    display: flex;
    flex-direction: column;
    font-family: "Zen Loop";
    font-size: 28px;
  }

  input {
    margin: 0px 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    border: 1px solid #fff;
    background: #33626c;
    padding: 8px 10px;
    text-align: center;
    color: white;
    font-family: "Nanum Gothic";
    font-size: 16px;
  }




}
